$primary: #5a55ca;
$secondary: #f26950;
$gray: #afb5c0;
// Used for highlighted items
$accent: #2bc09c;
// Body Background
$body-bg: #f0f4fd;
// General Colors
$white: #ffffff;
$black: #000000;
$text-color-primary: #051745;
$warning: #ffab58;
$danger: #a0040c;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "gray": $gray,
    "warning": $warning,
);
