$font-family-base: "Poppins", sans-serif;
$font-size-base: 1rem;
// Tab height
$tab-height: 70px;
$modal-topbar-height: 70px;
$border-radius: 10px;
$datepicker-modal-width: 290px;
$datepicker-width: 350px;
$datepicker-height: 308px;