.button,
.submit {
  --border-radius: 10px;
  --box-shadow: none;
  height: 40px;
  margin: 0;
  font-size: $font-size-base * 0.75;
  text-transform: unset;
  letter-spacing: normal;
  &.submit-block {
    display: block;
  }
  @each $color, $value in $theme-colors {
    &.ion-color-#{$color} {
      --ion-color-base: #{$value} !important;
      &::part(native) {
        color: $white;
        background: $value;
      }
    }
  }
}
