.c-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    &__control {
        flex-grow: 1;
    }
    .item-input {
        overflow: unset;
        --min-height: auto;
        --padding-start: 0;
        --inner-padding-end: 0;
        --background: transparent;
        &.item-has-focus {
            --full-highlight-height: 1px;
            --highlight-background: #{$primary};
            ion-label {
                &:not(.ion-color) {
                    color: $primary;
                }
            }
        }
        .native-input {
            font-size: $font-size-base * 0.95;
            font-weight: 500;
        }
        ion-label {
            text-transform: uppercase;
            color: darken($gray, 5%);
        }
        ion-icon {
            opacity: 0.4;
            font-size: $font-size-base * 1.2;
        }
    }
    ion-row {
        gap: 30px;
    }
}

.invalid-error {
    color: $danger;
    font-weight: 500;
    font-size: $font-size-base * 0.75;
}
